*{
	margin:0;
	padding-left:0;
}

body{
	background: rgb(139,209,227);
	background: linear-gradient(90deg, rgba(139,209,227,1) 0%, rgba(200,161,236,1) 35%, rgba(217,121,207,1) 58%, rgba(255,254,182,1) 100%);
}

p img {
	height: 1em;
}

h1, h2{
	background-image:  linear-gradient(90deg, rgba(139,209,227,1) 0%, rgba(200,161,236,1) 35%, rgba(217,121,207,1) 58%, rgba(255,254,182,1) 100%);
	color:rgba(255,254,182,1);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.content{
	padding:100px;
	padding-top:0;
}

.nav{
	color:white;
	height:100%;
	padding:1em;
}

.nav.current{
	text-decoration: underline;
	animation: none;
	background: linear-gradient(90deg, rgba(30,81,94,1) 0%, rgba(60,29,89,1) 35%, rgba(93,23,86,1) 58%, rgba(78,68,22,1) 100%);

}

.header{
	font-family: 'Bungee Shade', display;
	background-image: linear-gradient(90deg, rgba(30,81,94,1) 0%, rgba(60,29,89,1) 35%, rgba(93,23,86,1) 58%, rgba(78,68,22,1) 100%);
	color:rgba(255,254,182,1);
	text-align:left;
	font-size:90px;
	top:0;
	display: inline-block;
	height: 180px;
	margin-left:90px;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.links{
	font-family:monospace;
	color:black;
	width:80%;
	font-size:20px;
	padding-left:90px;
	padding-right:90px;
	background: rgba(0, 0, 0, 0.5);
	margin-right:5%;
	margin-left:5%;
	display: flex;
}

.description{
	display:none;
	font-family: monospace;
	color:white;
	margin-left:5%;
	font-size:20px;
	text-align: left;
	margin-right:5%;
	padding:90px;
}

.description.current{
	  text-align: center;
	width:80%;
	display:inline-block;
	font-family: monospace;
	font-size:20px;
	background: rgb(30,81,94);
	background: linear-gradient(90deg, rgba(30,81,94,1) 0%, rgba(60,29,89,1) 35%, rgba(93,23,86,1) 58%, rgba(78,68,22,1) 100%);
}

#music{
	width: auto;
	text-align: center;
}

.socialLink{
	font-size:40px;
	text-decoration: none;
	background-image:  linear-gradient(90deg, rgba(139,209,227,1) 0%, rgba(200,161,236,1) 35%, rgba(217,121,207,1) 58%, rgba(255,254,182,1) 100%);
	color:rgba(255,254,182,1);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.profile_pic {
  border-radius: 50%;
  width:200px;
}